/*GENERAL STYLING*/

body {
  font-family:"Roboto", sans-serif;
}

h1 {
  font-family:"Roboto Mono", sans-serif;
}

p {
  color: rgb(155, 153, 153)
}

ul li {
  display: inline-block;
  list-style: none;
}

.empresas, .info-datos {
  width: 80%;
  margin: 0 auto;
}

/*BARRA NAVEGACION*/

.navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding-top: 40px;
  widht: 100%;
  

}

.navigation ul {
  display: none;
}

.navigation i {
  color: white;
  font-size: 2em;
  margin: 20px 30px 10px 0;
  

}


.navigation ul {
  list-style: none;
}

/*HERO*/
.hero {
  text-align: center;
  background: white url("../images/bg-home.svg") no-repeat center / cover;
  
}

.hero h1 {
  font-size: 2.2em;
  color: white;
}

.hero, .hero .row {
  height: 100vh;
}
.hero h1 span {
  color: rrgb(71, 174, 243);
}

.hero p {
  font-size: 1.3em;
  color: white;
 
}

.button-blue {
  display: block;
  background-color: rgb(71, 174, 243);
  border-radius: 10px;
  padding: 25px;
  width: 60%;
  margin: 0 auto;
  
}

.hero a {
  color: white;
  font-size: 1.4em;
}

/*SECTION EMPRESAS*/
.empresas {
  border-top: 1px solid rgb(204, 201, 201);
  border-bottom: 1px solid rgb(204, 201, 201);
 
  text-align: center;
}


.empresas .logos li img{
  filter: grayscale(100%);
  width: 80px;
}

/*INFO DATOS*/
#datos-numeros {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  text-transform: uppercase;
  
  text-align: center;
}
#datos-numeros p {
  color: rgb(52, 52, 65);

}

#datos-numeros h2 {
  font-size: 2.5em;
  color: rgb(52, 52, 65);
 
}

.foto-estudiantes {
  display: flex;
  justify-content: space-between;
  
}
.foto-estudiantes figure, .foto-estudiantes article {
  border: 1px solid rgba(202, 202, 202,.5);
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(27, 27, 27, .5);
}

.foto-estudiantes figure {
  width: 80%;
}

.foto-estudiantes   img {
  width: 100%;
}
.foto-estudiantes article {
  width: 17%;
  
}



.quote p {
  color:rgb(235, 138, 28);
  font-size: 1.3em;
}



@media all and (min-width: 680px) {

.navigation ul {
  display: inline-block;
}
.navigation ul li {
  display: inline-block;
  margin: 10px;
  font-size: 1.1em;
  
}

.mobile{
  display: none;
}

.navigation ul a {
  
  color: white;
}

.navigation img {
  margin: 10px 0 10px 30px;
  width: 30px;
}

.button-aplicar {
  border: 2px solid rgb(245, 245, 245);
  border-radius: 3px;
  padding: 10px;
  
}



.button-blue {
  display: inline-block;
  background-color: rgb(71, 174, 243);
  border-radius: 10px;
  padding: 25px;
  width: 50%;
 
  
}

.hero {
  background: white url("../images/bg-home.svg") no-repeat center -250px / 900px;

}
}


@media all and (min-width: 880px) {



}